:root{
    --primary:#3498DB;
    --secundary:#0D47A1;
    --tertiary:#E5E7E9;
    --blanco:#FFFFFF;
    --Negro: #000000;
    /*Medidas*/
    --mobile:576px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.grid{
    display: grid;
    grid-template-rows: 9vh 11vh 70vh 10vh;
}

i{
    color:var(--blanco)
}

.navbar{
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    color:var(--blanco);
    margin-left: 18px;
    justify-content: center;
    align-items: center;
}

.logo p{
    font-size: small;
    margin-left: 10px;
}

.menu{
    margin-right: 18px;
}

.filtro{
    background-color: var(--tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
    padding-top: 10px;
}

.filtro select{
    border-radius: 5px;
    border-color: transparent;
    background-color: white;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 8px;
    
}

main{
    background-color: var(--blanco);
}

footer{
    background-color: var(--secundary);
}
